<header>

	<div id="header_left">

		<%= image_tag "logo_1.png" %>

		<!-- <img src="logo_1.png"> -->
		<!-- <h1>Homer's Odyssey</h1>
		<h4>a travel companion for you and your pet</h4> -->
	</div>  <!-- end header_left -->

	<div id="header_logo">
		<%= image_tag "homer_1.png", alt: "cartoon wire fox terrier" %>


		<!-- <img src="homer_1.png" alt="cartoon wire fox terrier"> -->
	</div>	<!-- end header_logo -->

</header>

<main>

	<section id="home_map">

		<div style="width: 80%"><iframe width="100%" height="100%" src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=120%20SW%208th%20St%2C%20Miami%2C%20FL%2033130+(Iron%20Hack)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/ru/Создать-Google-Карту/">Код для вставки Google Map</a> by <a href="http://www.mapsdirections.info/ru/">Код для вставки Google Map</a></iframe></div><br />

	</section> <!-- end home_map -->

	<section id="navigation" class="clearfix">

	
		<a href="">
			<div id="f1" class="information clearfix">
				Lodging
			</div>	
		</a>

		<a href="">
			<div id="f2" class="information clearfix">
				Recreation
			</div>	
		</a>
			
		<a href="">
			<div id="f3" class="information clearfix">
				Supplies
			</div>	
		</a>
			
		<a href="">
			<div id="f4" class="information clearfix">
				Services
			</div>	
		</a>	
		
		<a href="">
			<div id="f5" class="information clearfix">
				Medical
			</div>	
		</a>
			
	</section>  <!-- end navigation -->

</main>