<div id="home_view" class="">
	<header class="clearfix">
		<div id="header_content">
			<%= image_tag("thicker_round_homer.png", :alt => "vector wire fox terrier", class:"ho_logo_main") %>
			<h1>Homer's Odyssey </h1>
			<p>a travel companion for you and your pet</p>
		</div>
	<!-- 	<div id="header_left">
			<h1>Homer's Odyssey</h1>
			<p>a travel companion for you and your pet</p>
		</div>  end header_left
		<div id="header_logo">
			
			< <img src="homer_1.png" alt="cartoon wire fox terrier">
		</div>	<end header_logo -->
	</header>
	<main class="clearfix">
		<section id="home_map" class="clearfix">
	      	<p>Fetching your location: 
	      		<span id="status">checking...</span>
	      	</p>     
	      	<div id="map-canvas"></div> <!-- Google Maps -->
	    </section>
		<section id="navigation" class="clearfix">
			<a href="#" id='b1' class="clickable" >
				<div id="f1" class="information clearfix">
					Lodging
				</div>	
			</a>
			<a href="#" id='b2' class="clickable">
				<div id="f2" class="information clearfix">
					Recreation
				</div>	
			</a>	
			<a href="#" id='b3' class="clickable">
				<div id="f3" class="information clearfix">
					Supplies
				</div>	
			</a>			
			<a href="#" id='b4' class="clickable">
				<div id="f4" class="information clearfix">
					Services
				</div>	
			</a>			
			<a href="#" id='b5' class="clickable">
				<div id="f5" class="information clearfix">
					Medical
				</div>	
			</a>			
		</section>  <!-- end navigation -->
	</main>
</div>  <!-- end home_view -->

 <!-- #*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#*#* -->
<div id="clicked_view" class="hide">

<header class="clearfix">
	<div id="inner_header_left">
		<%= image_tag("logo_2.png", :alt => "Logo that reads Homer's Odyssey") %>
		<!-- <img src="logo_2.png"> -->
	</div>  <!-- end inner_header_left -->

	<div id="inner_header_logo">
		<a href="/">
		<%= image_tag("homer_1.png", :alt => "cartoon wire fox terrier") %>
		</a>
		<!-- <img src="homer_1.png" alt="cartoon wire fox terrier"> -->
	</div>	<!-- inner_header_logo -->
</header>


<main id="inner_main" class="clearfix">

	<!-- <section id="inner_map"> -->

		<div id="map"></div>

		<!-- <div style="width: 90%"><iframe width="100%" height="100%" src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=120%20SW%208th%20St%2C%20Miami%2C%20FL%2033130+(Iron%20Hack)&amp;ie=UTF8&amp;t=&amp;z=11&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/ru/Создать-Google-Карту/">Код для вставки Google Map</a> by <a href="http://www.mapsdirections.info/ru/">Код для вставки Google Map</a></iframe></div><br /> -->

	<!-- </section>  --> <!-- end inner_map -->

	<section id="inner_results" class="clearfix">

		<div id="r1" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r1 -->

	    <div id="r2" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r2 -->

	    <div id="r3" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>	
			</div>	
	    </div>  <!-- end r3 -->

	    <div id="r4" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r4 -->

	    <div id="r5" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r5 -->
	

	</section>  <!-- end inner_results -->

</main>
</div> <!-- end clicked_view -->