<!-- logo_screen.html.erb -->

<div class="logo_screen_container">
	
	<h1>Homer's Odyssey </h1>
	<p>a travel companion for you and your pet</p>
	<div class="homer_animation">
		<%= image_tag("homer_1.png", :alt => "vector wire fox terrier", class:"homer_logo_screen", id:"js_homer_move") %>
	</div>
</div>
