<div class="inner clearfix">
<header class="clearfix">

	<div id="inner_header_left">
		<%= image_tag "logo_2.png" %>
		<!-- <img src="logo_2.png"> -->
	</div>  <!-- end inner_header_left -->

	<div id="inner_header_logo">
		<%= image_tag "homer_1.png", alt: "cartoon wire fox terrier" %>

		<!-- <img src="homer_1.png" alt="cartoon wire fox terrier"> -->
	</div>	<!-- inner_header_logo -->

</header>

<main id="inner_main" class="clearfix">

	<section id="inner_map">

	   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3592.9999617061007!2d-80.19138868572333!3d25.7705648145247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b69d1a756195%3A0x27fd2dc0fcef0f92!2sEPIC+Hotel!5e0!3m2!1sen!2sus!4v1469570428730" width="80%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

	</section>  <!-- end inner_map -->

	<section id="inner_results" class="clearfix">

		<div id="r1" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r1 -->

	    <div id="r2" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r2 -->

	    <div id="r3" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>	
			</div>	
	    </div>  <!-- end r3 -->

	    <div id="" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r4 -->

	    <div id="r5" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r5 -->
	

	</section>  <!-- end inner_results -->

</main>
</div>