<header>

	<div id="inner_header_left">
		<%= image_tag "logo_2.png" %>
		<!-- <img src="logo_2.png"> -->
	</div>  <!-- end inner_header_left -->

	<div id="inner_header_logo">
		<%= image_tag "homer_1.png", alt: "cartoon wire fox terrier" %>

		<!-- <img src="homer_1.png" alt="cartoon wire fox terrier"> -->
	</div>	<!-- inner_header_logo -->

</header>


<main class="clearfix">

	<section id="inner_map">

	</section>  <!-- end inner_map -->

	<section id="inner_results" class="clearfix">

		<div id="r1" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r1 -->

	    <div id="r2" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r2 -->

	    <div id="r3" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>	
			</div>	
	    </div>  <!-- end r3 -->

	    <div id="r4" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r4 -->

	    <div id="r5" class="clearfix r">
			<div class="r_left">
				<p class="r_name">ACME Hotel</p>
				<p class="r_address">123 Biscayne Blvd. Miami, FL 33132</p>
			</div>
			<div class="r_right">
				<p class="r_phone">999.999.9999</p>
				<p class="r_website">
					<a href="">www.acmehotels.com</a>
				</p>
			</div>	
	    </div>  <!-- end r5 -->
	

	</section>  <!-- end inner_results -->

</main>